{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 80,
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "parser": "typescript",
    "endOfLine": "auto",
    "singleAttributePerLine": true
}